@charset "utf-8";

header {
    position:fixed;
    width:100%;
}

footer {
    position:fixed;
    width:100%;
    bottom:1px;
    éeft:1px;
}
#kerdojel {
    position: fixed;
    bottom: 10px;
    right:10px;
}

main {
    position: absolute;
    padding-top: 100px;
}

nav {
    position:fixed;
    top:110px;
    left:20px;
}
